# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# TypeScript
dist/
*.tsbuildinfo

# Env files
.env
.env*
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*

# Editor folders
.vscode/
.idea/
.DS_Store

# Docker
*.pid
*.seed
docker-compose.override.yml